:root {
  /* Colour Palette */
  --link-color: hsl(228, 45%, 44%);
  --white: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--Stone-600);
  font-family: 'Outfit', sans-serif;
}

/* Imported Fonts */

@font-face {
  font-family: 'Young Serif';
  src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Outfit';
  src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Outfit';
  src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Outfit';
  src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
  font-weight: 700;
}

h1 {
  font-family: 'Young Serif', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: var(--Stone-900);
  line-height: 100%;
  margin: 0rem 0rem 1.5rem;
}

h2 {
  font-family: "Young Serif", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--Brown-800);
  margin: 0rem 0rem 1rem;
}

h3 {
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--Rose-800);
  padding: 0rem 0rem 1rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

ul,
ol {
  list-style: outside;
}

img {
  max-width: 100%
}

section {
  margin: 2rem;
}

.preparation-time {
  background: var(--Rose-50);
  padding: 1rem 2rem 1rem;
  margin: 2rem;
  border-radius: 1.5rem;
}

ul li {
  margin: 0rem 1.5rem 1rem;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;

}

ul li::before {
  content: " ";
  display: block;
  border: solid 0.2em var(--Rose-800);
  border-radius: 0.5em;
  margin-right: 2rem;
  margin-left: -1rem;
  padding-left: 0px;
}

ol {
  list-style-type: decimal;
  font-family: 'Outfit', sans-serif;
  margin: 0rem 0.5rem 0rem;
}

ol li {
  padding-left: 1rem;
  margin: 1rem 0rem 0rem 1rem;
}

ol>li::marker {
  font-weight: bold;
  color: var(--Brown-800);
}

hr {
  border: 1px solid #ddd;
  margin: 2rem 0rem 2rem;
}

.nutrition p {
  padding: 0rem 0rem 1rem;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

tr {
  border-bottom: 1px solid #ddd;
}

th {
  padding: 1rem 4.5rem 1rem 2rem;
  font-weight: normal;
}

td {
  font-weight: bold;
  color: var(--Brown-800);
}

tr:nth-child(4) {
  border: none;

}

.attribution {
  font-size: 0.688rem;
  text-align: center;
}

.attribution a {
  color: var(--link-color);
}

@media only screen and (min-width: 768px) and (max-width: 2560px) {
  .container {
    background: var(--Stone-100);
    width: 100%;
    place-content: center;
  }

  section {
    margin: 0;
    padding: 0;
  }

  .card {
    background: var(--white);
    max-width: 50%;
    margin: 10rem auto;
    border-radius: 2rem;
    padding: 2rem;
  }

  img {
    max-width: 100%;
    border-radius: 1.25rem;
  }

  h1 {
    margin: 2rem 0rem 1.5rem;
  }

  .preparation-time {
    background: var(--Rose-50);
    padding: 1rem 2rem 1rem;
    margin: 1.5rem 0rem 1.5rem 0rem;
  }

}